# 根据时间列，将另一个表的一列添加到主表中

In [2]:
import pandas as pd
import numpy as np

In [3]:

# 创建df1，包含日期和一些值
data1 = {
    'date': pd.to_datetime(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04']),
    'value1': [10, 20, 30, 40]
}
df1 = pd.DataFrame(data1)
print(df1)

        date  value1
0 2024-01-01      10
1 2024-01-02      20
2 2024-01-03      30
3 2024-01-04      40

In [4]:
# 创建df2，包含时间戳和一些值
data2 = {
    'date': pd.to_datetime(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-05']),
    'value2': [100, 200, 300, 400]
}
df2 = pd.DataFrame(data2)
print(df2)

        date  value2
0 2024-01-01     100
1 2024-01-02     200
2 2024-01-03     300
3 2024-01-05     400

In [5]:
# 使用merge函数根据时间列合并两个DataFrame
merged_df = pd.merge(df1, df2, how='left')
print(merged_df)

        date  value1  value2
0 2024-01-01      10   100.0
1 2024-01-02      20   200.0
2 2024-01-03      30   300.0
3 2024-01-04      40     NaN